@import url('https: //fonts.googleapis.com/css?family=Michroma&display=swap');

body {
    font-family: Michroma, serif;
    background: linear-gradient(0deg, #ffffff 0%, #ffffff 100%);
    color: #000000;
}
.sidebar {
background: linear-gradient(0deg, #09091d 0%, #0b0e20 100%);
    color: #ffffff;
}
.main {
    background: linear-gradient(0deg, #ffffff 0%, #ffffff 100%);
        color: #000000;
    size: 30px;
    align-items: center;

}
.st {
    background: linear-gradient(0deg, #ffffff 0%, #ffffff 100%);
        color: #0a0519;
}
.h1 {
    align-items: center;
}
.bod {
    font-family: Michroma, serif;
    background: linear-gradient(0deg, #ffffff 0%, #ffffff 100%);
    color: #ffffff;
}